body {
    background-color: #bbf1fa;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: gray;
    border-width: 5px;
}

h1,
h3 {
    color: #64dfdf;
    font-family: Georgia, 'Times New Roman', Times, serif
}